In [1]:
from pyspark.sql import *
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf
import os
import json
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

# Values

In [13]:
WIKIPEDIA_DUMP_XML_PATH="enwiki-latest-abstract.xml"
WIKIPEDIA_DUMP_SCHEMA_PATH="xml_schema.json"
MOVIES_METADATA_CSV_PATH="movies_metadata.csv"
TOP100_PARQUET_PATH="ouput/top100byratio_wiki.parquet"
TOP100_CSV_PATH="ouput/top100byratio_wiki.csv"

In [14]:
POSTGRES_HOST="postgres-db"
POSTGRES_PWD="postgres"
POSTGRES_USER="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="movies"
POSTGRES_TABLE="top100byRatio"
POSTGRES_CONNECTION_STRING="postgresql://{user}:{password}@{host}:{port}/{db}".format(user=POSTGRES_USER,
                                                                                      password=POSTGRES_PWD,
                                                                                      host=POSTGRES_HOST,
                                                                                      port=POSTGRES_PORT,
                                                                                      db=POSTGRES_DB)
JDBC_CONNECTION_STRING="jdbc:postgresql://{host}:{port}/{db}".format(host=POSTGRES_HOST,
                                                                     port=POSTGRES_PORT,
                                                                     db=POSTGRES_DB)

In [10]:
xml_schema_file=open(WIKIPEDIA_DUMP_SCHEMA_PATH)
WIKIPEDIA_DUMP_XML_SCHEMA=StructType.fromJson(json.load(xml_schema_file))
xml_schema_file.close()
WIKIPEDIA_DUMP_XML_SCHEMA

StructType(List(StructField(abstract,StringType,true),StructField(links,StringType,true),StructField(title,StringType,true),StructField(url,StringType,true)))

In [11]:
postgres_connection_properties = {
     "url" : JDBC_CONNECTION_STRING,
     "table" : POSTGRES_TABLE,
     "user" : POSTGRES_USER,
     "password" : POSTGRES_PWD,
     "driver" : 'org.postgresql.Driver',

}

# Download Files

In [6]:
!curl -o enwiki-latest-abstract.xml.gz https://dumps.wikimedia.org/enwiki/latest/enwiki-latest-abstract.xml.gz

In [7]:
!gzip -d enwiki-latest-abstract.xml.gz

In [8]:
os.path.isfile(WIKIPEDIA_DUMP_XML_PATH)

True

In [9]:
os.path.isfile(MOVIES_METADATA_CSV_PATH)

True

# Functions

# Process

### Read film metadata and select fields of our interest

In [ ]:
spark = SparkSession \
    .builder \
    .getOrCreate()
spark

In [10]:
metadata_df=spark.read.csv(MOVIES_METADATA_CSV_PATH, header=True)
metadata_df.show()

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|
|False|                 null|60000000|[{'id': 28, 'name...|                null|  949|tt0113277|               en|                Heat|Obsessive master ...| 17.924927|/zMyfPUelumio3tiD...|[{'name': 'Regenc...|[{'iso_3166_1': '...|          1995-12-15|           187436818|               170.0|[{'iso_639_1': 'e...|Released|A Los Angeles Cri...|                Heat|   False|                 7.7|             1886|
|False|                 null|58000000|[{'id': 35, 'name...|                null|11860|tt0114319|               en|             Sabrina|An ugly duckling ...|  6.677277|/jQh15y5YB7bWz1Nt...|[{'name': 'Paramo...|[{'iso_3166_1': '...|          1995-12-15|                   0|               127.0|[{'iso_639_1': 'f...|Released|You are cordially...|             Sabrina|   False|                 6.2|              141|
|False|                 null|       0|[{'id': 28, 'name...|                null|45325|tt0112302|               en|        Tom and Huck|A mischievous you...|  2.561161|/sGO5Qa55p7wTu7FJ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|          1995-12-22|                   0|                97.0|[{'iso_639_1': 'e...|Released|The Original Bad ...|        Tom and Huck|   False|                 5.4|               45|
|False|                 null|35000000|[{'id': 28, 'name...|                null| 9091|tt0114576|               en|        Sudden Death|International act...|   5.23158|/eoWvKD60lT95Ss1M...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            64350171|               106.0|[{'iso_639_1': 'e...|Released|Terror goes into ...|        Sudden Death|   False|                 5.5|              174|
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|          1995-11-16|           352194034|               130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|   False|                 6.6|             1194|
|False|                 null|62000000|[{'id': 35, 'name...|                null| 9087|tt0112346|               en|The American Pres...|Widowed U.S. pres...|  6.318445|/lymPNGLZgPHuqM29...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-17|           107879496|               106.0|[{'iso_639_1': 'e...|Released|Why can't the mos...|The American Pres...|   False|                 6.5|              199|
|False|                 null|       0|[{'id': 35, 'name...|                null|12110|tt0112896|               en|Dracula: Dead and...|When a lawyer sho...|  5.430331|/xve4cgfYItnOhtzL...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-22|                   0|                88.0|[{'iso_639_1': 'e...|Released|                null|Dracula: Dead and...|   False|                 5.7|              210|
|False| {'id': 117693, 'n...|       0|[{'id': 10751, 'n...|                null|21032|tt0112453|               en|               Balto|An outcast half-w...| 12.140733|/gV5PCAVCPNxlOLFM...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            11348324|                78.0|[{'iso_639_1': 'e...|Released|Part Dog. Part Wo...|               Balto|   False|                 7.1|              423|
|False|                 null|44000000|[{'id': 36, 'name...|                null|10858|tt0113987|               en|               Nixon|An all-star cast ...|     5.092|/cICkmCEiXRhvZmbu...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|          1995-12-22|            13681765|               192.0|[{'iso_639_1': 'e...|Released|Triumphant in Vic...|               Nixon|   False|                 7.1|               72|
|False|                 null|98000000|[{'id': 28, 'name...|                null| 1408|tt0112760|               en|    Cutthroat Island|Morgan Adams and ...|  7.284477|/odM9973kIv9hcjfH...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|          1995-12-22|            10017322|               119.0|[{'iso_639_1': 'e...|Released|The Course Has Be...|    Cutthroat Island|   False|                 5.7|              137|
|False|                 null|52000000|[{'id': 18, 'name...|                null|  524|tt0112641|               en|              Casino|The life of the g...| 10.137389|/xo517ibXBDdYQY81...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-11-22|           116112375|               178.0|[{'iso_639_1': 'e...|Released|No one stays at t...|              Casino|   False|                 7.8|             1343|
|False|                 null|16500000|[{'id': 18, 'name...|                null| 4584|tt0114388|               en|Sense and Sensibi...|Rich Mr. Dashwood...| 10.673167|/lA9HTy84Bb6ZwNey...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-13|           135000000|               136.0|[{'iso_639_1': 'e...|Released|Lose your heart a...|Sense and Sensibi...|   False|                 7.2|              364|
|False|                 null| 4000000|[{'id': 80, 'name...|                null|    5|tt0113101|               en|          Four Rooms|It's Ted the Bell...|  9.026586|/eQs5hh9rxrk1m4xH...|[{'name': 'Mirama...|[{'iso_3166_1': '...|          1995-12-09|             4300000|                98.0|[{'iso_639_1': 'e...|Released|Twelve outrageous...|          Four Rooms|   False|                 6.5|              539|
|False| {'id': 3167, 'nam...|30000000|[{'id': 80, 'name...|                null| 9273|tt0112281|               en|Ace Ventura: When...|Summoned from an ...|  8.205448|/wRlGnJhEzcxBjvWt...|[{'name': 'O Ente...|[{'iso_3166_1': '...|          1995-11-10|           212385533|                90.0|[{'iso_639_1': 'e...|Released|New animals. New ...|Ace Ventura: When...|   False|                 6.1|             1128|
|False|                 null|60000000|[{'id': 28, 'name...|                null|11517|tt0113845|               en|         Money Train|A vengeful New Yo...|  7.337906|/jSozzzVOR2kfXgTU...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-21|            35431113|               103.0|[{'iso_639_1': 'e...|Released|Get on, or GET OU...|         Money Train|   False|                 5.4|              224|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 20 rows

##### field 'year' will be obtained from 'release_date'
##### field 'vote_average' will be renamed 'rating' as requested

In [11]:
budget_revenue_view=metadata_df.select("id","imdb_id","original_title","budget","revenue","release_date", "vote_average", "production_companies")
budget_revenue_view.show()

+-----+---------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
|   id|  imdb_id|      original_title|  budget|             revenue|        release_date|        vote_average|production_companies|
+-----+---------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
|  862|tt0114709|           Toy Story|30000000|           373554033|          1995-10-30|                 7.7|[{'name': 'Pixar ...|
| 8844|tt0113497|             Jumanji|65000000|           262797249|          1995-12-15|                 6.9|[{'name': 'TriSta...|
|15602|tt0113228|    Grumpier Old Men|       0|                   0|          1995-12-22|                 6.5|[{'name': 'Warner...|
|31357|tt0114885|   Waiting to Exhale|16000000|[{'name': 'Twenti...|/16XOMpEaLWkrcPqS...|Friends are the p...| determined to fi...|
|11862|tt0113041|Father of the Bri...|       0|            76578911|          1995-02-10|                 5.7|[{'name': 'Sandol...|
|  949|tt0113277|                Heat|60000000|           187436818|          1995-12-15|                 7.7|[{'name': 'Regenc...|
|11860|tt0114319|             Sabrina|58000000|                   0|          1995-12-15|                 6.2|[{'name': 'Paramo...|
|45325|tt0112302|        Tom and Huck|       0|                   0|          1995-12-22|                 5.4|[{'name': 'Walt D...|
| 9091|tt0114576|        Sudden Death|35000000|            64350171|          1995-12-22|                 5.5|[{'name': 'Univer...|
|  710|tt0113189|           GoldenEye|58000000|           352194034|          1995-11-16|                 6.6|[{'name': 'United...|
| 9087|tt0112346|The American Pres...|62000000|           107879496|          1995-11-17|                 6.5|[{'name': 'Columb...|
|12110|tt0112896|Dracula: Dead and...|       0|                   0|          1995-12-22|                 5.7|[{'name': 'Columb...|
|21032|tt0112453|               Balto|       0|            11348324|          1995-12-22|                 7.1|[{'name': 'Univer...|
|10858|tt0113987|               Nixon|44000000|            13681765|          1995-12-22|                 7.1|[{'name': 'Hollyw...|
| 1408|tt0112760|    Cutthroat Island|98000000|            10017322|          1995-12-22|                 5.7|[{'name': 'Le Stu...|
|  524|tt0112641|              Casino|52000000|           116112375|          1995-11-22|                 7.8|[{'name': 'Univer...|
| 4584|tt0114388|Sense and Sensibi...|16500000|           135000000|          1995-12-13|                 7.2|[{'name': 'Columb...|
|    5|tt0113101|          Four Rooms| 4000000|             4300000|          1995-12-09|                 6.5|[{'name': 'Mirama...|
| 9273|tt0112281|Ace Ventura: When...|30000000|           212385533|          1995-11-10|                 6.1|[{'name': 'O Ente...|
|11517|tt0113845|         Money Train|60000000|            35431113|          1995-11-21|                 5.4|[{'name': 'Columb...|
+-----+---------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [12]:
budget_revenue_view.count()

45572

##### Here is a list of records that are being discarded due to their invalid fields 'id', 'imdb_id', 'revenue', 'budget'
##### Here a regex is used to intercept invalid imdb_id records

In [13]:
budget_revenue_view.where(F.regexp_extract(F.col("imdb_id"),r'tt[0-9]{7}',0)=="").show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                  id|             imdb_id|      original_title|              budget|             revenue|        release_date|        vote_average|production_companies|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|          1995-01-01|                   0|                  []|/uUi23HjvDFYGfuVl...|                null|                   0|                null|               False|
|                  []|[{'iso_3166_1': '...|                   0| 2- A Soft Touch ...|                 6.4|               False|                null|                null|
|[{'id': 18, 'name...|http://www.wkw-in...|           tt0118694| 'poster_path': '...|[{'iso_3166_1': '...|[{'name': 'Block ...|In the Mood for Love|            8.703552|
|[{'id': 12, 'name...|http://www.billan...|           tt0096928| 'poster_path': '...| what Bill and Te...| they will be sep...|          1989-02-17| they are still i...|
|/pEzCLGxq4bXafTOR...|[{'name': 'New Wo...|          1989-06-01| and Kassandra (L...|               False|             Warlock|                null|            Released|
|[{'id': 53, 'name...|http://www.warner...|           tt0240772| 'poster_path': '...|[{'iso_3166_1': '...|[{'name': 'Villag...|      Ocean's Eleven|           12.114932|
|/yB9bESCHpp2iHUGu...|[{'name': 'Twenti...|          2002-01-25| Oedekerk sets of...|               False|Kung Pow: Enter t...|                null|            Released|
|[{'name': 'Knight...|[{'iso_3166_1': '...|                   0| Alec Guinness ca...|                 7.3|               False|                null|                null|
|[{'name': 'Sandy ...|[{'iso_3166_1': '...|                   0| decides to take ...|                 5.8|               False|                null|The boys and girl...|
|                   0|[{'id': 12, 'name...|               12716| Childhood's Memo...|[{'name': 'Gaumon...|/iUQaKj9iVe0NpgHh...|                null|French adaptation...|
|                   0|[{'id': 12, 'name...|               12717| Childhood's Memo...|[{'name': 'Gaumon...|/e9KvKWPY2YQzpqFD...|                null|My Mother's Castl...|
|[{'iso_3166_1': '...|          1966-05-10|               121.0|            0.661107|                   8|                 5.7|                null|     The War Is Over|
|[{'id': 53, 'name...|http://oceans12.w...|           tt0349903| 'poster_path': '...|[{'iso_3166_1': '...|[{'name': 'Villag...|      Ocean's Twelve|           11.869347|
|          1944-04-13|                   0|[{'iso_639_1': 'e...|/tR3PnmXh8UrSdCPI...|                null|                   1|                null|               False|
|[{'iso_3166_1': '...|          1979-03-14|               121.0|            5.259089|                 146|                 7.3|                null|                Hair|
|[{'id': 80, 'name...|http://www.kino.c...|           tt0101258| 'poster_path': '...|[{'iso_3166_1': '...|[{'name': 'Media ...|  Days of Being Wild|            6.242263|
|[{'id': 14, 'name...|http://www.wkw204...|           tt0212712| 'poster_path': '...|[{'iso_3166_1': '...|[{'name': 'Paradi...|                2046|            7.157169|
|     Catholic school| Ralph is conside...| winning the Bost...| who is secretly ...|[{'name': 'Allian...|/xGiaXH17qJyk5cy2...|He's hoping for a...| fending off nays...|
|[{'id': 80, 'name...|http://lichter-de...|           tt0458242| 'poster_path': '...|[{'iso_3166_1': '...|[{'name': 'Sputni...|  Lights in the Dusk|            2.329388|
|/96nGo7zLEuCuakmO...|                  []|          2005-10-21| she meets the yo...|               False|Beauty and the Ba...|                null|            Released|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

##### Removing records with invalid 'id' and 'imdb_id'

In [14]:
clean_IDs=budget_revenue_view.where(F.regexp_extract(F.col("imdb_id"),r'tt[0-9]{7}',0)!="").withColumn("id", F.col("id").cast(IntegerType())).where(F.col("id").isNotNull())
clean_IDs.show()

+-----+---------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
|   id|  imdb_id|      original_title|  budget|             revenue|        release_date|        vote_average|production_companies|
+-----+---------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
|  862|tt0114709|           Toy Story|30000000|           373554033|          1995-10-30|                 7.7|[{'name': 'Pixar ...|
| 8844|tt0113497|             Jumanji|65000000|           262797249|          1995-12-15|                 6.9|[{'name': 'TriSta...|
|15602|tt0113228|    Grumpier Old Men|       0|                   0|          1995-12-22|                 6.5|[{'name': 'Warner...|
|31357|tt0114885|   Waiting to Exhale|16000000|[{'name': 'Twenti...|/16XOMpEaLWkrcPqS...|Friends are the p...| determined to fi...|
|11862|tt0113041|Father of the Bri...|       0|            76578911|          1995-02-10|                 5.7|[{'name': 'Sandol...|
|  949|tt0113277|                Heat|60000000|           187436818|          1995-12-15|                 7.7|[{'name': 'Regenc...|
|11860|tt0114319|             Sabrina|58000000|                   0|          1995-12-15|                 6.2|[{'name': 'Paramo...|
|45325|tt0112302|        Tom and Huck|       0|                   0|          1995-12-22|                 5.4|[{'name': 'Walt D...|
| 9091|tt0114576|        Sudden Death|35000000|            64350171|          1995-12-22|                 5.5|[{'name': 'Univer...|
|  710|tt0113189|           GoldenEye|58000000|           352194034|          1995-11-16|                 6.6|[{'name': 'United...|
| 9087|tt0112346|The American Pres...|62000000|           107879496|          1995-11-17|                 6.5|[{'name': 'Columb...|
|12110|tt0112896|Dracula: Dead and...|       0|                   0|          1995-12-22|                 5.7|[{'name': 'Columb...|
|21032|tt0112453|               Balto|       0|            11348324|          1995-12-22|                 7.1|[{'name': 'Univer...|
|10858|tt0113987|               Nixon|44000000|            13681765|          1995-12-22|                 7.1|[{'name': 'Hollyw...|
| 1408|tt0112760|    Cutthroat Island|98000000|            10017322|          1995-12-22|                 5.7|[{'name': 'Le Stu...|
|  524|tt0112641|              Casino|52000000|           116112375|          1995-11-22|                 7.8|[{'name': 'Univer...|
| 4584|tt0114388|Sense and Sensibi...|16500000|           135000000|          1995-12-13|                 7.2|[{'name': 'Columb...|
|    5|tt0113101|          Four Rooms| 4000000|             4300000|          1995-12-09|                 6.5|[{'name': 'Mirama...|
| 9273|tt0112281|Ace Ventura: When...|30000000|           212385533|          1995-11-10|                 6.1|[{'name': 'O Ente...|
|11517|tt0113845|         Money Train|60000000|            35431113|          1995-11-21|                 5.4|[{'name': 'Columb...|
+-----+---------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

##### Casting columns to our desired dataType: all invalid values are being replaced by 'null' and invalid values of revenue or budget are copied to the new field 'note'
##### the field 'note' is used to flag any potential data type mismatch that can lead to wrong ratio computation or errors
##### the field 'year' is generated from field 'release_date', that is previously casted to dateType
##### field 'vote_average' has been renamed 'rating'

In [15]:
budget_revenue_view_cast=clean_IDs.withColumn("note",F.when(budget_revenue_view.revenue.cast(IntegerType()).isNotNull()==False,budget_revenue_view.revenue).otherwise(F.lit(None))) \
                                    .withColumn("note",F.when(budget_revenue_view.budget.cast(IntegerType()).isNotNull()==False,budget_revenue_view.budget).otherwise(F.col("note"))) \
                                    .withColumn("budget",budget_revenue_view.budget.cast(IntegerType())) \
                                    .withColumn("revenue",budget_revenue_view.revenue.cast(IntegerType())) \
                                    .withColumn("note",F.when((F.col("revenue")==0),"Budget and/or revenue data missing").otherwise(F.col("note"))) \
                                    .withColumn("note",F.when((F.col("budget")==0),"Budget and/or revenue data missing").otherwise(F.col("note"))) \
                                    .withColumn("release_date",budget_revenue_view.release_date.cast(DateType())) \
                                    .withColumn("year",(F.year("release_date"))) \
                                    .withColumn("vote_average",budget_revenue_view.vote_average.cast(DoubleType())) \
                                    .withColumnRenamed("vote_average","rating") \
                                    .drop("release_date")
budget_revenue_view_cast.show()

+-----+---------+--------------------+--------+---------+------+--------------------+--------------------+----+
|   id|  imdb_id|      original_title|  budget|  revenue|rating|production_companies|                note|year|
+-----+---------+--------------------+--------+---------+------+--------------------+--------------------+----+
|  862|tt0114709|           Toy Story|30000000|373554033|   7.7|[{'name': 'Pixar ...|                null|1995|
| 8844|tt0113497|             Jumanji|65000000|262797249|   6.9|[{'name': 'TriSta...|                null|1995|
|15602|tt0113228|    Grumpier Old Men|       0|        0|   6.5|[{'name': 'Warner...|Budget and/or rev...|1995|
|31357|tt0114885|   Waiting to Exhale|16000000|     null|  null| determined to fi...|[{'name': 'Twenti...|null|
|11862|tt0113041|Father of the Bri...|       0| 76578911|   5.7|[{'name': 'Sandol...|Budget and/or rev...|1995|
|  949|tt0113277|                Heat|60000000|187436818|   7.7|[{'name': 'Regenc...|                null|1995|
|11860|tt0114319|             Sabrina|58000000|        0|   6.2|[{'name': 'Paramo...|Budget and/or rev...|1995|
|45325|tt0112302|        Tom and Huck|       0|        0|   5.4|[{'name': 'Walt D...|Budget and/or rev...|1995|
| 9091|tt0114576|        Sudden Death|35000000| 64350171|   5.5|[{'name': 'Univer...|                null|1995|
|  710|tt0113189|           GoldenEye|58000000|352194034|   6.6|[{'name': 'United...|                null|1995|
| 9087|tt0112346|The American Pres...|62000000|107879496|   6.5|[{'name': 'Columb...|                null|1995|
|12110|tt0112896|Dracula: Dead and...|       0|        0|   5.7|[{'name': 'Columb...|Budget and/or rev...|1995|
|21032|tt0112453|               Balto|       0| 11348324|   7.1|[{'name': 'Univer...|Budget and/or rev...|1995|
|10858|tt0113987|               Nixon|44000000| 13681765|   7.1|[{'name': 'Hollyw...|                null|1995|
| 1408|tt0112760|    Cutthroat Island|98000000| 10017322|   5.7|[{'name': 'Le Stu...|                null|1995|
|  524|tt0112641|              Casino|52000000|116112375|   7.8|[{'name': 'Univer...|                null|1995|
| 4584|tt0114388|Sense and Sensibi...|16500000|135000000|   7.2|[{'name': 'Columb...|                null|1995|
|    5|tt0113101|          Four Rooms| 4000000|  4300000|   6.5|[{'name': 'Mirama...|                null|1995|
| 9273|tt0112281|Ace Ventura: When...|30000000|212385533|   6.1|[{'name': 'O Ente...|                null|1995|
|11517|tt0113845|         Money Train|60000000| 35431113|   5.4|[{'name': 'Columb...|                null|1995|
+-----+---------+--------------------+--------+---------+------+--------------------+--------------------+----+
only showing top 20 rows

##### Computing revenue/budget ratio

In [16]:
budget_revenue_ratio=budget_revenue_view_cast.withColumn("ratio",F.when(budget_revenue_view_cast.note.isNull(),F.format_number(budget_revenue_view_cast.revenue/budget_revenue_view_cast.budget,2)).otherwise(F.lit(0)).cast(DoubleType()))
budget_revenue_ratio.show()

+-----+---------+--------------------+--------+---------+------+--------------------+--------------------+----+-----+
|   id|  imdb_id|      original_title|  budget|  revenue|rating|production_companies|                note|year|ratio|
+-----+---------+--------------------+--------+---------+------+--------------------+--------------------+----+-----+
|  862|tt0114709|           Toy Story|30000000|373554033|   7.7|[{'name': 'Pixar ...|                null|1995|12.45|
| 8844|tt0113497|             Jumanji|65000000|262797249|   6.9|[{'name': 'TriSta...|                null|1995| 4.04|
|15602|tt0113228|    Grumpier Old Men|       0|        0|   6.5|[{'name': 'Warner...|Budget and/or rev...|1995|  0.0|
|31357|tt0114885|   Waiting to Exhale|16000000|     null|  null| determined to fi...|[{'name': 'Twenti...|null|  0.0|
|11862|tt0113041|Father of the Bri...|       0| 76578911|   5.7|[{'name': 'Sandol...|Budget and/or rev...|1995|  0.0|
|  949|tt0113277|                Heat|60000000|187436818|   7.7|[{'name': 'Regenc...|                null|1995| 3.12|
|11860|tt0114319|             Sabrina|58000000|        0|   6.2|[{'name': 'Paramo...|Budget and/or rev...|1995|  0.0|
|45325|tt0112302|        Tom and Huck|       0|        0|   5.4|[{'name': 'Walt D...|Budget and/or rev...|1995|  0.0|
| 9091|tt0114576|        Sudden Death|35000000| 64350171|   5.5|[{'name': 'Univer...|                null|1995| 1.84|
|  710|tt0113189|           GoldenEye|58000000|352194034|   6.6|[{'name': 'United...|                null|1995| 6.07|
| 9087|tt0112346|The American Pres...|62000000|107879496|   6.5|[{'name': 'Columb...|                null|1995| 1.74|
|12110|tt0112896|Dracula: Dead and...|       0|        0|   5.7|[{'name': 'Columb...|Budget and/or rev...|1995|  0.0|
|21032|tt0112453|               Balto|       0| 11348324|   7.1|[{'name': 'Univer...|Budget and/or rev...|1995|  0.0|
|10858|tt0113987|               Nixon|44000000| 13681765|   7.1|[{'name': 'Hollyw...|                null|1995| 0.31|
| 1408|tt0112760|    Cutthroat Island|98000000| 10017322|   5.7|[{'name': 'Le Stu...|                null|1995|  0.1|
|  524|tt0112641|              Casino|52000000|116112375|   7.8|[{'name': 'Univer...|                null|1995| 2.23|
| 4584|tt0114388|Sense and Sensibi...|16500000|135000000|   7.2|[{'name': 'Columb...|                null|1995| 8.18|
|    5|tt0113101|          Four Rooms| 4000000|  4300000|   6.5|[{'name': 'Mirama...|                null|1995| 1.07|
| 9273|tt0112281|Ace Ventura: When...|30000000|212385533|   6.1|[{'name': 'O Ente...|                null|1995| 7.08|
|11517|tt0113845|         Money Train|60000000| 35431113|   5.4|[{'name': 'Columb...|                null|1995| 0.59|
+-----+---------+--------------------+--------+---------+------+--------------------+--------------------+----+-----+
only showing top 20 rows

In [17]:
budget_revenue_ratio.count()

45339

##### Ordering records by ratio, descending order. Top100 films

In [18]:
# Select top100 movies by ratio
top100_by_ratio=budget_revenue_ratio.orderBy("ratio", ascending=False) \
.withColumn("clean_title", F.lower(F.col("original_title"))) \
.limit(100)

### Read data from Wikipedia dump

In [39]:
from_wikipedia_df = spark.read.format("com.databricks.spark.xml").option("rootTag", "feed").option("rowTag", "doc").load(WIKIPEDIA_DUMP_XML_PATH, schema=WIKIPEDIA_DUMP_XML_SCHEMA)
from_wikipedia_df.count()

0

##### Cleaning film titles to prepare for join step
##### Since 'imdb_id' and 'id' fields are not available from the Wikipedia dump, 'title' will be used as primary key for join

In [20]:
clean_from_wikipedia_df=from_wikipedia_df.select("title", "url", "abstract") \
                                         .withColumn("extracted_title", F.regexp_extract(F.col("title"),r'Wikipedia: (.*)',1)) \
                                         .withColumn("clean_title", F.lower(F.col("extracted_title"))) \
                                         .select("clean_title", "url", "abstract")
clean_from_wikipedia_df.show()

+-----------+---+--------+
|clean_title|url|abstract|
+-----------+---+--------+
+-----------+---+--------+

### Enrich IMDB data

In [21]:
top100_enriched=top100_by_ratio.join(clean_from_wikipedia_df, 'clean_title',"left")
top100_enriched.show()

+--------------------+------+---------+--------------------+-------+---------+------+--------------------+----+----+------+----+--------+
|         clean_title|    id|  imdb_id|      original_title| budget|  revenue|rating|production_companies|note|year| ratio| url|abstract|
+--------------------+------+---------+--------------------+-------+---------+------+--------------------+----+----+------+----+--------+
|        house of wax| 18573|tt0045888|        House of Wax| 658000| 23800000|   7.0|[{'name': 'Bryan ...|null|1953| 36.17|null|    null|
|    enter the dragon|  9461|tt0070034|    Enter the Dragon| 850000| 90000000|   7.3|[{'name': 'Golden...|null|1973|105.88|null|    null|
|one flew over the...|   510|tt0073486|One Flew Over the...|3000000|108981275|   8.3|[{'name': 'United...|null|1975| 36.33|null|    null|
|                  pi|   473|tt0138704|                  Pi|  60000|  3221152|   7.1|[{'name': 'Truth ...|null|1998| 53.69|null|    null|
|the birth of a na...|   618|tt0004972|The Birth of a Na...| 100000| 11000000|   6.4|[{'name': 'Epoch ...|null|1915| 110.0|null|    null|
|           fireproof| 14438|tt1129423|           Fireproof| 500000| 33456317|   7.0|[{'name': 'Carmel...|null|2008| 66.91|null|    null|
|        lost & found| 39964|tt0120836|        Lost & Found|      1|      100|   4.9|[{'name': 'Alcon ...|null|1999| 100.0|null|    null|
|  the sound of music| 15121|tt0059742|  The Sound of Music|8200000|286214286|   7.4|[{'name': 'Twenti...|null|1965|  34.9|null|    null|
|      人再囧途之泰囧|151743|tt2459022|      人再囧途之泰囧|2200000|208000000|   6.1|[{'name': 'Enligh...|null|2012| 94.55|null|    null|
| the hills have eyes| 12262|tt0077681| The Hills Have Eyes| 230000| 25000000|   6.1|[{'name': 'Blood ...|null|1977| 108.7|null|    null|
|the legend of bog...|  1842|tt0068837|The Legend of Bog...| 100000| 22000000|   5.6|[{'name': 'P & L'...|null|1972| 220.0|null|    null|
|          goldfinger|   658|tt0058150|          Goldfinger|2500000|124881062|   7.2|[{'name': 'United...|null|1964| 49.95|null|    null|
|       super size me|  9372|tt0390521|       Super Size Me|  65000| 28575078|   6.6|[{'name': 'Kathbu...|null|2004|439.62|null|    null|
|            ghoulies| 18498|tt0089200|            Ghoulies|1000000| 35000000|   4.2|[{'name': 'Empire...|null|1984|  35.0|null|    null|
|das leben der and...|   582|tt0405094|Das Leben der And...|2000000| 70000000|   7.9|[{'name': 'Arte',...|null|2006|  35.0|null|    null|
|              dr. no|   646|tt0055928|              Dr. No| 950000| 59600000|   6.9|[{'name': 'United...|null|1962| 62.74|null|    null|
|              vixen!|  5721|tt0063787|              Vixen!|  76000|  6000000|   5.5|[{'name': 'Eve Pr...|null|1968| 78.95|null|    null|
|       dirty dancing|    88|tt0092890|       Dirty Dancing|6000000|213954274|   7.1|[{'name': 'Great ...|null|1987| 35.66|null|    null|
|   facing the giants| 18925|tt0805526|   Facing the Giants| 100000| 10178331|   6.6|[{'name': 'Destin...|null|2006|101.78|null|    null|
|          love story|  9062|tt0066011|          Love Story|2200000|136400000|   6.6|[{'name': 'Paramo...|null|1970|  62.0|null|    null|
+--------------------+------+---------+--------------------+-------+---------+------+--------------------+----+----+------+----+--------+
only showing top 20 rows

### Save enriched data [optional]

In [22]:
top100_enriched.drop("clean_title", "id", "imdb_id", "release_date", "note") \
.write \
.mode("overwrite") \
.parquet(TOP100_PARQUET_PATH)

In [23]:
top100_enriched.drop("clean_title", "id", "imdb_id", "release_date", "note") \
.write \
.options(header='True', delimiter='|') \
.mode("overwrite") \
.csv(TOP100_CSV_PATH)

##### Create database 'movies'

In [ ]:
conn = psycopg2.connect(
    user=POSTGRES_USER,
    password=POSTGRES_PWD,
    host=POSTGRES_HOST,
    port= POSTGRES_PORT
)

In [ ]:
conn.autocommit = True
cursor = conn.cursor()
cursor.execute("SELECT 'CREATE DATABASE {db}' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = ' {db}')".format(db=POSTGRES_DB))
print("Database has been created");
conn.close()

## Write enriched data to Postgres

In [16]:
top100byratio_wiki_df=spark.read.parquet(TOP100_PARQUET_PATH, header=True)

##### Write parquet data to Postgres

In [22]:
top100byratio_wiki_df.write \
                     .mode('overwrite') \
                     .jdbc(
                        url=postgres_connection_properties["url"],
                        table=postgres_connection_properties["table"],
                        properties=postgres_connection_properties
                         )

Py4JJavaError: An error occurred while calling o58.jdbc.
: org.postgresql.util.PSQLException: The connection attempt failed.
	at org.postgresql.core.v3.ConnectionFactoryImpl.openConnectionImpl(ConnectionFactoryImpl.java:331)
	at org.postgresql.core.ConnectionFactory.openConnection(ConnectionFactory.java:49)
	at org.postgresql.jdbc.PgConnection.<init>(PgConnection.java:247)
	at org.postgresql.Driver.makeConnection(Driver.java:434)
	at org.postgresql.Driver.connect(Driver.java:291)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$createConnectionFactory$1(JdbcUtils.scala:64)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:48)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:46)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:90)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:175)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:213)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:210)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:171)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:122)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:121)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:963)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:764)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:963)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:415)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:399)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:791)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.UnknownHostException: postgres-db
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:196)
	at java.net.PlainSocketImpl.connect(PlainSocketImpl.java:162)
	at java.net.SocksSocketImpl.connect(SocksSocketImpl.java:394)
	at java.net.Socket.connect(Socket.java:606)
	at org.postgresql.core.PGStream.createSocket(PGStream.java:241)
	at org.postgresql.core.PGStream.<init>(PGStream.java:98)
	at org.postgresql.core.v3.ConnectionFactoryImpl.tryConnect(ConnectionFactoryImpl.java:109)
	at org.postgresql.core.v3.ConnectionFactoryImpl.openConnectionImpl(ConnectionFactoryImpl.java:235)
	... 38 more

##### Proof read data from Postgres

In [18]:
top100byratio_postgres = spark.read.jdbc(
    url=postgres_connection_properties["url"],
    table=postgres_connection_properties["table"],
    properties=postgres_connection_properties
)

Py4JJavaError: An error occurred while calling o47.jdbc.
: org.postgresql.util.PSQLException: The connection attempt failed.
	at org.postgresql.core.v3.ConnectionFactoryImpl.openConnectionImpl(ConnectionFactoryImpl.java:331)
	at org.postgresql.core.ConnectionFactory.openConnection(ConnectionFactory.java:49)
	at org.postgresql.jdbc.PgConnection.<init>(PgConnection.java:247)
	at org.postgresql.Driver.makeConnection(Driver.java:434)
	at org.postgresql.Driver.connect(Driver.java:291)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$createConnectionFactory$1(JdbcUtils.scala:64)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:56)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:226)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:35)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:344)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:297)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:286)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:286)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:221)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:312)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.UnknownHostException: postgres-db
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:196)
	at java.net.PlainSocketImpl.connect(PlainSocketImpl.java:162)
	at java.net.SocksSocketImpl.connect(SocksSocketImpl.java:394)
	at java.net.Socket.connect(Socket.java:606)
	at org.postgresql.core.PGStream.createSocket(PGStream.java:241)
	at org.postgresql.core.PGStream.<init>(PGStream.java:98)
	at org.postgresql.core.v3.ConnectionFactoryImpl.tryConnect(ConnectionFactoryImpl.java:109)
	at org.postgresql.core.v3.ConnectionFactoryImpl.openConnectionImpl(ConnectionFactoryImpl.java:235)
	... 26 more

In [28]:
top100byratio_postgres.show()

+--------------------+--------+---------+------+--------------------+----+------+----+--------+
|      original_title|  budget|  revenue|rating|production_companies|year| ratio| url|abstract|
+--------------------+--------+---------+------+--------------------+----+------+----+--------+
|  Gone with the Wind| 4000000|400176459|   7.7|[{'name': 'Selzni...|1939|100.04|null|    null|
|           Halloween|  300000| 70000000|   7.4|[{'name': 'Compas...|1978|233.33|null|    null|
|     Vanishing Point| 1300000| 72266306|   7.1|[{'name': 'Twenti...|1971| 55.59|null|    null|
|Saturday Night Fever| 3500000|237113184|   6.5|[{'name': 'Paramo...|1977| 67.75|null|    null|
|       Dirty Dancing| 6000000|213954274|   7.1|[{'name': 'Great ...|1987| 35.66|null|    null|
|          Goldfinger| 2500000|124881062|   7.2|[{'name': 'United...|1964| 49.95|null|    null|
|   American Graffiti|  777000|140000000|   6.9|[{'name': 'Lucasf...|1973|180.18|null|    null|
|      The Big Parade|  245000| 22000000|   7.0|[{'name': 'Metro-...|1925|  89.8|null|    null|
| The Hills Have Eyes|  230000| 25000000|   6.1|[{'name': 'Blood ...|1977| 108.7|null|    null|
|    Crocodile Dundee| 5000000|328203506|   6.3|[{'name': 'Paramo...|1986| 65.64|null|    null|
|          Eraserhead|   10000|  7000000|   7.5|[{'name': 'Americ...|1977| 700.0|null|    null|
|         Blood Feast|   24500|  4000000|   5.3|[{'name': 'Friedm...|1963|163.27|null|    null|
|20,000 Leagues Un...|  200000|  8000000|   6.0|[{'name': 'The Un...|1916|  40.0|null|    null|
| Alice in Wonderland| 3000000|572000000|   7.0|[{'name': 'RKO Ra...|1951|190.67|null|    null|
|      人再囧途之泰囧| 2200000|208000000|   6.1|[{'name': 'Enligh...|2012| 94.55|null|    null|
|                Once|  160000| 20710513|   7.4|[{'name': 'Summit...|2007|129.44|null|    null|
|     The Jungle Book| 4000000|205843612|   7.1|[{'name': 'Walt D...|1967| 51.46|null|    null|
|E.T. the Extra-Te...|10500000|792965326|   7.3|[{'name': 'Univer...|1982| 75.52|null|    null|
|            猛龍過江|  130000| 85000000|   7.4|[{'name': 'Golden...|1972|653.85|null|    null|
|The Legend of Bog...|  100000| 22000000|   5.6|[{'name': 'P & L'...|1972| 220.0|null|    null|
+--------------------+--------+---------+------+--------------------+----+------+----+--------+
only showing top 20 rows

# Query Postgres with Pandas (psycopg2)

In [33]:
engine = create_engine(POSTGRES_CONNECTION_STRING)

In [34]:
pd_from_postgres = pd.read_sql("SELECT * FROM {table} WHERE original_title='Star Wars';".format(table=POSTGRES_TABLE), engine)
pd_from_postgres

,original_title,budget,revenue,rating,production_companies,year,ratio,url,abstract
0,The Graduate,3000000,104945305,7.6,"[{'name': 'Lawrence Turman', 'id': 8793}]",1967,34.98,None,None

In [35]:
from_pandas_df = spark.createDataFrame(pd_from_postgres, schema=top100byratio_postgres.schema)
from_pandas_df.show()

+--------------+-------+---------+------+--------------------+----+-----+----+--------+
|original_title| budget|  revenue|rating|production_companies|year|ratio| url|abstract|
+--------------+-------+---------+------+--------------------+----+-----+----+--------+
|  The Graduate|3000000|104945305|   7.6|[{'name': 'Lawren...|1967|34.98|null|    null|
+--------------+-------+---------+------+--------------------+----+-----+----+--------+

# Sources

# https://github.com/databricks/spark-xml
# https://jdbc.postgresql.org/download/
# https://spark.apache.org/docs/2.4.0/sql-data-sources-jdbc.html